@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Raleway;
}

.container{
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:150px 1fr;

  gap: 3px;
  padding: 10px;
  box-sizing: border-box;
  }

.header{
    grid-row-start: 2;
    grid-column-start: 1;
    width: 1fr;
    height: 300px;
    font-size: 50px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.wrapperDiv{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* padding: 40px 100px; */
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: darkblue;
}

.navbar{
  overflow: hidden;
}

#title{
    display: flex;
    align-items: center;
    font-size: xx-large;
    font-weight: 500;
    padding: 50px;
    box-sizing: border-box;
    text-decoration: none;
    color: #ffffff;
}
#creatorLink{
  padding: 20px;
  text-decoration: none;
  font-family: 'Poppins', Raleway;
  color: #ffffff;
  font-size: 1.5vw;
}

#expertLink{
  padding: 20px;
  text-decoration: none;
  font-family: 'Poppins', Raleway;
  font-size: 1.5vw;
  color: #ffffff;
}

#header-body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5vw;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

#buttons{
  display: flex;
  align-items: center;
  height: 30%;
  padding: 50px 25px;
  overflow: hidden;
  grid-row-start: 3;
}

#space{
  width: 100px;
}

#getStartedButton{
  background-color: rgb(0, 0, 165);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 6px;
  width: 220px;
  min-width: 150px;
  height: 60px;
  overflow: hidden;
}

#getStartedButton:hover {
  background-color: rgba(0, 0, 165, 0.514);
}


/* #mainHolder{
  grid-row-start: 2;
  grid-column-start: 1;
  overflow-y: hidden;
} */

#mainHolder{
  grid-row-start: 2;
  grid-column-start: 1;
  /* overflow-y: hidden; */
  padding: 40px 150px;
  padding-left: 50px;
  /* position: relative;
  right: 100px; */
}

#infoHead{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  font-weight: bolder;
  padding: 10px;
  box-sizing: border-box;
  text-align: left;
  position: relative;
  /* left: 30px; */
  color: #000000;

}

#h2-infoHead{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  font-weight: bolder;
  padding: 10px;
  box-sizing: border-box;
  text-align: left;
  position: relative;
  /* left: 30px; */
  color: #000000;
}

#h3-infoHead{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  font-weight: bolder;
  padding: 10px;
  box-sizing: border-box;
  text-align: left;
  position: relative;
  /* left: 30px; */
  color: #000000;
}

#infoBody{
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: large;
  box-sizing: border-box;
  text-align: left;
  position: relative;
  /* left: 30px; */
  color: #000000;
}

#h2-infoBody{
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: large;
  box-sizing: border-box;
  text-align: left;
  position: relative;
  /* left: 30px; */
  color: #000000;
}

#h3-infoBody{
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: large;
  box-sizing: border-box;
  text-align: left;
  position: relative;
  /* left: 30px; */
  color: #000000;
}


.videoHolder{
  width: 100%;
  height: 100%;
  z-index: -1000;
}

.video1{
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  object-fit: cover;
  z-index: -100;
  filter: brightness(50%);
}


@media screen and (min-width: 966px) {
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', Raleway;
  overflow-y: auto;
}

.container{
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3px;
  padding: 10px;
  box-sizing: border-box;
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: 150px 500px 150px 500px;
}

.wrapperDiv{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: darkblue;
}

#title{
  font-size: xx-large;
  box-sizing: border-box;
  text-decoration: none;
  color: #ffffff;
  padding: 10px;
  width: fit-content;

}

#creatorLink{
  font-size: 1vw;
}
#expertLink{
  font-size: 1vw;
}


#header-body{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  grid-row-start: 1;
  grid-column-start: 2;
}

#mainHolder{
  grid-row-start: 2;
  /* grid-column-start: 1; */
  overflow-y: hidden;
  padding: 40px 100px;
  background-color: #f1f1f17a;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  grid-template-rows: 1fr;
}


#infoHead{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5vw;
  font-weight: bolder;
  box-sizing: border-box;
  text-align: left;
  position: relative;
  color: #000000;
}

#infoBody{
  justify-content: center;
  align-items: center;
  font-size: large;
  box-sizing: border-box;
  text-align: left;
  position: relative;
  /* color: #d3d3d3; */
  color: #000000;
}

#infoHolder
{
  overflow: hidden;
  width: 70%;
  display: inline-block;
}

#imgHolder{
  background-image: url(networkingImg.png);

}

#credentialHolder{
  width: 100%;
  height: 100px;
  grid-row-start: 3;

  
}

#credentialHead{
  justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: x-large;
    font-weight: bold;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    color: #535353;
}

#credentialBody{
  justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: large;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    color: #535353;
    
}

#bodyHolder{
  grid-row-start: 4;
  width: 100%;
  height: 100%;
  padding: 40px 100px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 0.5fr 0.5fr;
}

#h2-infoHolder{
  overflow: hidden;
  width: 100%;
  /* max-width: 300px; */
  display: inline-block;
  border-right: 2px solid #d3d3d3;
  padding: 20px;
}

#h3-infoHolder{
  overflow: hidden;
  width: 100%;
  /* max-width: 300px; */
  /* display: inline-block;
  border-right: 2px solid #d3d3d3; */
  padding: 20px;
}

#buttons{
  /* padding: 100px 50px; */
}

#space{
  min-width: 100px;
}

}

@media screen and (max-width: 530px) {

  .container{
    grid-template-rows: 100px 200px 250px 1fr;
  }

  #title{
    font-size: x-large;
    padding: 20px;
  }

  #buttons{
    grid-row-start: 4;
    padding: 0px;
  }
  
  #mainHolder{
    grid-row-start: 2;
    padding: 0px;
  }

  #h2-mainHolder{
    grid-row-start: 3;
  }

}

@media screen and (max-width: 460px) {
  
  .container{
    grid-template-rows: 100px 200px 250px 1fr;
  }

  .navbar{
    visibility: hidden;
  }

  #title{
    white-space:nowrap;
    overflow: hidden;
  }

}