*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}

.container{
  display: grid;
  grid-template-rows: 100px 100px 900px 
  /* grid-template-columns: 500px 900px 500px; */
}

.main{
  width: 90vw;
  margin: 0 auto;
  padding: 30px 20px;
  min-height: calc(100vh - 77px - 100px);
}

.wrapperDiv{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* padding: 40px 100px; */
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: #f1f1f17a; */
}

#title{
    display: flex;
    align-items: center;
    font-size: xx-large;
    font-weight: 500;
    padding: 30px;
    box-sizing: border-box;
    text-decoration: none;
    color: #000000;
    position: relative;
    left: 60px;
  }
  
  #creatorLink{
    visibility: visible;
    padding: 20px;
    text-decoration: none;
    font-family: 'Poppins', Raleway;
    color: #000000;
    font-size: 1vw;
  }
  
  #aboutUs{
    visibility: visible;
    padding: 20px;
    text-decoration: none;
    font-family: 'Poppins', Raleway;
    color: #000000;
    font-size: 1vw;
  }

  #navButton{
    background-color:rgb(0, 0, 0);
    /* border: none; */
    color: rgb(255, 255, 255);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 35px;
    width: 150px;
    min-width: 150px;
    height: 50px;
    overflow: hidden;
  }
  
  #navButton:hover {
    background-color: rgba(0, 0, 0, 0.637);
    cursor: pointer;
  }

  
.navbar{
  overflow: hidden;
  padding:30px;
  max-width: 100%;
}

  .faq-header{
    grid-row: 2;
  }
  
  
.faq-heading{
    border-bottom: rgb(216, 27, 27);
    padding: 20px 60px;
}
.faq-container{
  grid-row: 3;
  /* grid-column: 2; */
  display: static;
  justify-content: center;
  flex-direction: column;
  padding-top: 80px;
}
.hr-line{
  width: 60%;
  margin: auto;
  
}
/* Style the buttons that are used to open and close the faq-page body */
.faq-page {
    /* background-color: #eee; */
    color: #444;
    cursor: pointer;
    padding: 30px 20px;
    width: 60%;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: auto;
}
.faq-body{
  margin: auto;
  width: 60%; 
  font-size: 20px;
  padding: auto;
  text-align: left;
  word-spacing: 4px;
  line-height: 30px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.faq-page:hover {
    background-color: #F9F9F9;
}
/* Style the faq-page panel. Note: hidden by default */
.faq-body {
    padding: 0 18px;
    background-color: rgba(255, 255, 255, 0.822);
    display: none;
    overflow: hidden;
}
.faq-page:after {
    content: '\02795';
    /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}
.active:after {
    content: "\2796";
    /* Unicode character for "minus" sign (-) */
}

footer{
  height: 100px;
  width: 100vw;
  background-color: rgba(207, 207, 207, 0.295);
  /* position: absolute; */
  padding: 20pxs;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

#footerAboutUs{
  color:rgb(0, 0, 0);
  font-size: large;
  padding: 10px;
  text-decoration: none;
}

#footerExpertDatabase{
  color:rgb(0, 0, 0);
  font-size: large;
  padding: 10px;
  text-decoration: none;
}
