@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}

.container{
  /* width: 100%; */
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  display: grid;
  grid-template-rows:100px 500px 1200px 600px;

  gap: 3px;
  /* padding: 10px; */
  box-sizing: border-box;


  }

.wrapperDiv{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* padding: 40px 100px; */
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: #3116ac; */
}

.navbar{
  overflow: hidden;
  padding:20px;
  max-width: 100%;
}

#navButton{
  background-color:rgb(0, 0, 0);
  /* border: none; */
  color: rgb(255, 255, 255);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 35px;
  width: 150px;
  min-width: 150px;
  height: 50px;
  overflow: hidden;
}

#navButton:hover {
  background-color: rgba(0, 0, 0, 0.637);
  cursor: pointer;
}

#title{
  display: flex;
  align-items: center;
  font-size: xx-large;
  font-weight: 300;
  padding: 20px;
  box-sizing: border-box;
  text-decoration: none;
  color: #000000;
  /* position: relative;
  left: 60px; */
}
#creatorLink{
  visibility: hidden;
}

#aboutUs{
  /* padding: 20px;
  text-decoration: none;
  font-family: 'Poppins', Raleway;
  color: #ffffff;
  font-size: 1.5vw; */
  visibility: hidden;
}

/* #expertLink{
  padding: 20px;
  text-decoration: none;
  font-family: 'Poppins', Raleway;
  font-size: 1.5vw;
  color: #ffffff;
} */

#header-body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5vw;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

#buttons{
  display: flex;
  align-items: center;
  height: auto;
  padding: 20px 10px;
  overflow: hidden;
  grid-row-start: 3;
}

#space{
  width: 100px;
}

#getStartedButton{
  background-color:rgb(0, 0, 0);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: large;
  border-radius: 35px;
  width: 200px;
  min-width: 150px;
  height: 50px;
  overflow: hidden;
}

#getStartedButton:hover {
  background-color: rgba(0, 0, 0, 0.575);
  cursor: pointer;
}



#mainHolder{
  grid-row-start: 2;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 30px 0px;

}

#infoHolder
{
  overflow: hidden;
  width: 70%;
  display: inline-block;
  position: relative;
  /* top: 80px; */
  /* left: 80px; */
  padding-left: 80px;
}

#infoHead{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: bolder;
  padding: 30px 10px;
  box-sizing: border-box;
  text-align: left;
  color: #000000;
}


#bodyHolder{
  grid-row-start: 3;
  width: 100%;
  height: 100%;
  padding: 50px 30px;
  display: grid;
  grid-template-rows: 0.5fr 0.5fr;
}



#h2-title{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  font-weight: bolder;
  padding: 20px;
  box-sizing: border-box;
  text-align: left;
  color: #000000;
  z-index: 100;
}

.h2-infoHeadHolder{
  padding: 40px;
}

#h2-infoHead1{
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: x-large;
  font-weight: bold;
  box-sizing: border-box;
  text-align: left;
  color: #616161;
}

.line1{
  display: flex;
  justify-content: center;
  /* position: relative;
  left: 15px; */
}

#h2-infoHead2{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  font-weight: bold;
  /* padding: 40px; */
  box-sizing: border-box;
  text-align: left;
  color: #616161;
}

#dynamic-text{
  /* background-color: #000000; */
  margin-left: 10px;
  max-height: 29px;
  overflow: hidden;
}

#dynamic-text li{
  list-style: none;
  color: #19bedb;
  font-size: x-large;
  font-weight: bold;
  position: relative;
  top: 0;
  animation: slide 24s steps(8) infinite;
  /* margin-left: 15px; */
  
}

#physical{
  list-style: none;
  color: #19bedb;
  font-size: x-large;
  font-weight: bold;
  position: relative;
  top: 0;
  animation: slide2 24s steps(8) infinite;
  /* margin-left: 15px; */
  
}


@keyframes slide {
  100%{
    /* top: -232px; */
    top: -223px;
  }
}

#dynamic-text li::after{
  content:"";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  /* border-left: 2px solid #000000; */
  animation: typing 3s steps(58) infinite;
}


@keyframes typing{
  40%,
  60%{
    left: calc(90% + 30px);
  }
  100%{
    left: 0;
  }
}

#h3-title{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  font-weight: bolder;
  padding: 20px;
  box-sizing: border-box;
  text-align: left;
  color: #000000;
}

.h3-infoHeadHolder{
  display: flex;
  justify-content: center;
}

#h3-infoHead{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: x-large;
  font-weight: bolder;
  padding: 40px;
  /* padding-bottom: 66px; */
  box-sizing: border-box;
  text-align: center;
  color: #616161;
  /* max-width: 100%; */
  max-width:650px;
}

#infoBody{
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: large;
  box-sizing: border-box;
  text-align: left;
  color: #000000;
  max-width: 100%;
}

.h2-infoBodyHolder{
  display: flex;
  justify-content: center;
  align-items: center;
}

#h2-infoBody{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: large;
  box-sizing: border-box;
  text-align: center;
  color: #616161;
  width: 70%;
  /* max-width: 500px; */
  /* position: relative;
  top: 20px; */
}

#publisherInfoTitle{
  font-size: larger;
  font-weight: bolder;
  display: flex;
  justify-content: left;
  position: relative;
  left: 10px;
  z-index: 1000;
}

#publisherInfo{
    position: relative;
    top: 50px;
    /* left: 50px; */
    overflow: hidden;
    height: 350px;
    padding: 20px;
    color: #616161;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

p{
  padding: 10px;
}

ol{
  height: auto;
  max-width: 500px;
  position: relative;
  padding: 20px 50px;
}

.publisherBtnHolder{
  display: flex;
  justify-content: center;
}

#publisherButton{
  background-color:rgb(0, 0, 0);
  /* border: none; */
  color: rgb(255, 255, 255);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 35px;
  width: 150px;
  min-width: 150px;
  height: 50px;
  overflow: hidden;
}

#publisherButton:hover {
  background-color: rgba(0, 0, 0, 0.637);
  cursor: pointer;
}

.h3-infoBodyHolder{
  display: flex;
  justify-content: center;
  align-items: center;
}

#h3-infoBody{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: large;
  box-sizing: border-box;
  text-align: center;
  color: #616161;
  width: 70%;
}

.expertInfo{
  position: relative;
  top: 50px;
  /* left: 50px; */
  overflow: hidden;
  height: 350px;
  padding: 20px;
  color: #616161;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.joinBtnHolder{
  grid-row-start: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

#joinButton{
  background-color:rgb(0, 0, 0);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: large;
  border-radius: 35px;
  width: 200px;
  min-width: 150px;
  height: 60px;
  overflow: hidden;
}

#joinButton:hover {
  background-color: rgba(0, 0, 0, 0.637);
  cursor: pointer;
}

.slider-div{
  grid-row-start: 5;
  height: 100%;
  width: 100%;
}

.carousel-txt{
  font-size: large;
  font-weight: bold;
  color: #000000;
  grid-row-start: 4;
  /* padding: 20px 300px; */
  display: flex;
  justify-content: center;
  /* border-bottom:2px solid #555555; */
  position: relative;
  right: 50px;
  top: 80px;
}

.carousel-container{
  width: 80%;
  max-width: 800px;
  margin: auto;
  grid-row-start: 4;
  border-radius: 15px;
  border: 5px solid black;
  overflow: hidden;
  position: relative;
  top: 100px;
  /* right: 100px; */
}

.carousel-slide{
  display: flex;
  width: 100%;
  height: auto;
  max-height: 500px;
  max-width: 800px;
}

#prevBtn{
  position: absolute;
  top: 50%;
  z-index: 10;
  left: 1%;
  font-size: 40px;
  color: rgb(0, 0, 0);
  cursor: pointer;
}
#nextBtn{
  position: absolute;
  top: 50%;
  z-index: 10;
  right: 1%;
  font-size: 40px;
  color: black;
  cursor: pointer;
}


.footer{
  grid-row-start: 6;
  height: 100px;
  width: 100vw;
  background-color: rgba(207, 207, 207, 0.295);
  /* position: absolute; */
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footerAboutUs{
  color:rgb(0, 0, 0);
  font-size: large;
  padding: 10px;
  text-decoration: none;
}

#footerExpertDatabase{
  color:rgb(0, 0, 0);
  font-size: large;
  padding: 10px;
  text-decoration: none;
}

img{
  max-width: 100%;
  max-height: 100%;
}

@media screen and (min-width: 850px) {
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Poppins', Raleway; */
}

.container{
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3px;
  /* padding: 10px; */
  box-sizing: border-box;
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 700px 750px 100px 600px 100px;
  overflow-x: hidden;
}

.wrapperDiv{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* padding: 40px 100px; */
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: #f1f1f17a; */
}

#title{
  display: flex;
  align-items: center;
  font-size: xx-large;
  font-weight: 500;
  padding: 30px;
  box-sizing: border-box;
  text-decoration: none;
  color: #000000;
  position: relative;
  left: 60px;
}

#creatorLink{
  visibility: visible;
  padding: 20px;
  text-decoration: none;
  font-family: 'Poppins', Raleway;
  color: #000000;
}

#aboutUs{
  visibility: visible;
  padding: 20px;
  text-decoration: none;
  font-family: 'Poppins', Raleway;
  color: #000000;
}

#navButton{
  background-color:rgb(0, 0, 0);
  /* border: none; */
  color: rgb(255, 255, 255);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 35px;
  width: 150px;
  min-width: 150px;
  height: 50px;
  overflow: hidden;
}

#navButton:hover {
  background-color: rgba(0, 0, 0, 0.637);
  cursor: pointer;
}

#header-body{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  grid-row-start: 1;
  grid-column-start: 2;
}

#mainHolder{
  grid-row-start: 2;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  padding: 50px 80px;
  /* background-color: #f1f1f17a; */
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr;
  /* position: relative;
  left: 400px; */
}


#infoHead{
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-size: 2.5vw; */
  font-weight: bolder;
  box-sizing: border-box;
  text-align: left;
  position: relative;
  color: #000000;
  max-width: 100%;
}

#infoBody{
  justify-content: center;
  align-items: center;
  font-size: large;
  box-sizing: border-box;
  text-align: left;
  position: relative;
  color: #000000;
  width: 500px;
}

.infoHolderHolder{
  display: flex;
  justify-content: center;
}

#infoHolder
{
  overflow: hidden;
  width: 100%;
  display: inline-block;
  position: relative;
  /* top: 80px; */
  /* left: 80px; */
  padding: 0px 20px;
  max-width: 600px;
}

#imgHolder{
  background-image: url(busy-project-manager-overwhelmed-by-work.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size:contain;
  height: 500px;
  width:100%;
}

#credentialHolder{
  width: 100%;
  height: 200px;
  grid-row-start: 3;
}

#credentialHead{
  justify-content: center;
    align-items: center;
    padding: 50px;
    font-size: xx-large;
    font-weight: bold;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    color: #535353;
}

#credentialBody{
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: x-large;
  box-sizing: border-box;
  text-align: center;
  position: relative;
  color: #535353;
  word-spacing: 150px;
}

#bodyHolder{
  grid-row-start: 3;
  width: 100%;
  height: 100%;
  padding: 50px 30px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 0.5fr 0.5fr;
}

#h2-infoHolder{
  overflow-x: hidden;
  overflow:hidden;
  width: 100%;
  display: inline-block;
  border-right: 2px solid #d3d3d3;
  padding: 20px;
}

.infoHeadHolder{
  display: inline;
  /* justify-content: center;font-size: 20px;
  align-items: center; */
  padding: 40px;
  width: 500px;
}

.line1{
  display: flex;
  justify-content: center;
  /* position: relative;
  left: 15px; */
}

#h2-infoHead1{
  display: flex;
  justify-content: right;
  align-items: center;
  font-size: x-large;
  font-weight: bold;
  box-sizing: border-box;
  text-align: left;
  color: #616161;
  min-width:200px;
}

#h2-infoHead2{
  display: flex;
  /* justify-content: center; */
  align-items: center;
  font-size: x-large;
  font-weight: bold;
  /* padding: 40px; */
  box-sizing: border-box;
  text-align: left;
  color: #616161;
  z-index: 100;
  min-width: 300px;
}


 #dynamic-text{
  margin-left: 10px;
  max-height: 29px;
  overflow: hidden;
} */

#dynamic-text li{
  list-style: none;
  color: #19bedb;
  font-size: x-large;
  font-weight: bold;
  position: relative;
  top: 0;
  animation: slide 24s steps(8) infinite;
  /* margin-left: 15px; */
  
}

#physical{
  list-style: none;
  color: #19bedb;
  font-size: x-large;
  font-weight: bold;
  position: relative;
  top: 0;
  animation: slide2 24s steps(8) infinite;
  /* margin-left: 15px; */
  
}


@keyframes slide {
  100%{
    /* top: -232px; */
    top: -223px;
  }
}

#dynamic-text li::after{
  content:"";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  /* border-left: 2px solid #000000; */
  animation: typing 3s steps(58) infinite;
}


@keyframes typing{
  40%,
  60%{
    left: calc(90% + 30px);
  }
  100%{
    left: 0;
  }
}


#publisherInfoTitle{
  font-size: larger;
  font-weight: bolder;
  display: flex;
  justify-content: left;
  position: relative;
  left: 10px;
  z-index: 1000;
}

#publisherInfo{
    left: 50px;
    overflow: hidden;
    height: 350px;
    padding: 20px;
    color: #616161;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.expertInfo{
  position: relative;
  top: 50px;
  left: 50px;
  overflow: hidden;
  height: 350px;
  padding: 20px;
  color: #616161;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

#h3-infoHolder{
  overflow-x: hidden;
  overflow:hidden;
  width: 100%;
  padding: 20px;
}

p{
  padding: 10px;
}

ol{
  height: auto;
  max-width: 500px;
  position: relative;
  padding: 20px 50px;
}

.slider-div{
  grid-row-start: 5;
  height: 100%;
  width: 100%
}

.carousel-txt{
  font-size: x-large;
  font-weight: bold;
  color: #000000;
  grid-row-start: 4;
  /* padding: 20px 300px; */
  display: flex;
  justify-content: center;
  /* border-bottom:2px solid #555555; */
  position: relative;
  right: 150px;
  top: 80px;
}
.carousel-container{
  width: 60%;
  max-width: 800px;
  margin: auto;
  grid-row-start: 4;
  border-radius: 15px;
  border: 5px solid black;
  overflow: hidden;
  position: relative;
  top: 100px;
  /* right: 100px; */
}

.carousel-slide{
  display: flex;
  width: 100%;
  height: auto;
  max-height: 500px;
  max-width: 800px;
}

#prevBtn{
  position: absolute;
  top: 50%;
  z-index: 10;
  left: 1%;
  font-size: 40px;
  color: rgb(0, 0, 0);
  cursor: pointer;
}
#nextBtn{
  position: absolute;
  top: 50%;
  z-index: 10;
  right: 1%;
  font-size: 40px;
  color: black;
  cursor: pointer;
}

img{
  max-width: 100%;
  max-height: 100%;
}


.FAQsection{
  grid-row-start: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color:#b1b1b110;
  border-radius: 20px;
}

.footer{
  grid-row-start: 6;
  height: 100px;
  width: 100vw;
  background-color: rgba(207, 207, 207, 0.295);
  /* position: absolute; */
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footerAboutUs{
  color:rgb(0, 0, 0);
  font-size: large;
  padding: 10px;
  text-decoration: none;
}

#footerExpertDatabase{
  color:rgb(0, 0, 0);
  font-size: large;
  padding: 10px;
  text-decoration: none;
}

}

@media screen and (max-width: 624px) {

  .container{
    grid-template-rows: 100px 500px 1250px 500px;
  }

  #title{
    font-size: x-large;
    padding: 20px;
  }

  .navbar{
    visibility: hidden;
  }

  #buttons{
    grid-row-start: 4;
    padding: 0px;
  }
  
  #mainHolder{
    grid-row-start: 2;
    padding: 0px;
    display: flex;
    justify-content: center;
  }

  #infoHolder{
    width: 450px;
    overflow: visible;
    padding-left: 0px;
  }

  #h2-mainHolder{
    grid-row-start: 3;
  }
  
  #infoHolder{
    width: 100%;
    padding: 0px 30px;
  }

  #infoBody{
    padding-bottom: 30px;
  }

}

@media screen and (max-width: 460px) {
  
  .container{
    grid-template-rows: 100px 400px 1300px 400px;
  }

  .navbar{
    visibility: hidden;
  }

  #title{
    white-space:nowrap;
    /* overflow: hidden; */
  }

  #infoHolder{
    width: auto;
    overflow: visible;
    padding: 40px;
  }

  #bodyHolder{
    padding: 90px 30px;
  }
  .carousel-txt{
    position: relative;
  }

}