@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Raleway;
    color:rgb(255, 255, 255);
    overflow-y: hidden;
}

.container{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3px;
    padding: 10px;
    box-sizing: border-box;
    background-image: url(../img/workfromhome.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    background-color:rgba(0, 0, 0, .6);
    display: grid;
    grid-template-rows: 250px 1fr;
    
}

.header{
    height: 1fr;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header_title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

#header_description{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.formHolder{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 10px; */
    box-sizing: border-box;
    height: 1fr;
}