@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Raleway;
    color:rgb(255, 255, 255);
    background-image: url(../img/workfromhome2.jpg);
    background-size: cover;
    background-color:rgba(0, 0, 0, .7);
    background-blend-mode: multiply;
    background-position: center center;
    background-attachment: fixed;
}

.container{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3px;
    padding: 10px;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 100px 1fr;
}

#title{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    font-size: xx-large;
    padding: 10px;
    box-sizing: border-box;
    position:relative;
    left: 100px;
    width: 205px;
    text-decoration: none;
}

.header{
    height: 1fr;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header_title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

#header_description{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.formHolder{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 10px; */
    box-sizing: border-box;
    height: 100vh;
}

.involveme_embed{
    width: 100vw;
    position:relative;
    top: 230px;
}